if ARCH_IPQ9574

config SYS_CPU
       default "ipq9574"

config SYS_BOARD
       default "ipq9574"

config SYS_VENDOR
       default "qca/arm"

config SYS_CONFIG_NAME
       default "ipq9574"

endif
