if ARCH_IPQ9048

config SYS_CPU
       default "ipq9048"

config SYS_BOARD
       default "ipq9048"

config SYS_VENDOR
       default "qca/arm"

config SYS_CONFIG_NAME
       default "ipq9048"

endif
